<div class="content">
    {{vm.text.information}}
</div>

<form name="form">
    <h3 class="title">Ninja Information</h3>
    <p>Note that this event is available to ninjas aged 7 to 17 and all ninjas under the age of 12 must be accompanied by an adult at all times</p>
    <div ng-repeat="ninja in vm.applicant.ninjas">
        <div class="columns">
            <div class="column is-3 control">
                <label class="label">First Name</label>
                <p class="control">
                    <input type="text" class="input" name="ninjaFirstName" placeholder="Ninja First Name" ng-model="ninja.firstName" required/>
                </p>
            </div>
            <div class="column is-3 control">
                <label class="label">Last Name</label>
                <p class="control">
                    <input type="text" class="input" name="ninjaLastName" placeholder="Ninja Last Name" ng-model="ninja.lastName" required/>
                </p>
            </div>
            <div class="column is-2 control">
                <label class="label">Date of Birth</label>
                <p class="control">
                    <input type="date" class="input" name="ninjaBday{{$index}}" placeholder="Ninja Last Name" ng-model="ninja.dateOfBirth" required datepicker-popup is-open="opened" min-date="vm.minDate" max-date="vm.maxDate" close-text="Close" min="{{vm.minDate}}" max="{{vm.maxDate}}" ng-blur="vm.validateDateOfBirth(ninja, $index)"/>
                    <span class="help is-danger" ng-if="form['ninjaBday'+$index].$error.invalid">This event is open to ninjas aged 7 to 17.</span>
                </p>
            </div>
            <div class="column is-1 control" ng-if="vm.applicant.ninjas.length > 1">
                <p class="control">
                    <label class="label">Delete</label>
                    <button type="button" class="button is-danger" ng-click="vm.removeNinja($index)" tooltip="Remove Ninja" tooltip-placement="right">
                        <i class="fa fa-trash-o fa-lg"></i>
                    </button>
                </p>
            </div>
        </div> 
    </div>
    <p class="control">
        <button type="button" class="button is-primary" ng-click="vm.addNinja()" tooltip="Add Ninja" tooltip-placement="right">
            <i class="fa fa-plus"></i>&nbsp;&nbsp;Add Another Ninja
        </button>
    </p>
    <h3 class="title">Actvities<h3>
    <p class="content">We run a range of activities for the ninjas, what activities would they be interested in? (Tick all that apply)</p>
    <p class="control">
        <div ng-repeat="activity in vm.text.activities">
            <label class="checkbox">
                <input type="checkbox" ng-model="vm.applicant.activities[activity]"/>
                {{activity}}
            </label>
        </div>
    </p>
    <h3 class="title">Parent/Guardian Information</h3>
    <div class="columns is-multiline">
        <div class="column is-3 control">
            <label class="label">First Name</label>
            <p class="control">
                <input type="text" class="input" name="parentFirstName" placeholder="Parent First Name" ng-model="vm.applicant.parent.firstName" required/>
            </p>
        </div>
        <div class="column is-3 control">
            <label class="label">Last Name</label>
            <p class="control">
                <input type="text" class="input" name="parentLastName" placeholder="Parent Last Name" ng-model="vm.applicant.parent.lastName" required/>
            </p>
        </div>
        <div class="column is-4 control">
            <label class="label">Email Address</label>
            <p class="control">
                <input type="email" class="input" name="parentEmail" placeholder="Email Address" ng-model="vm.applicant.parent.email" required/>
            </p>
        </div>
        <div class="column is-2 control">
            <label class="label">Phone Number</label>
            <p class="control">
                <input type="tel" class="input" name="parentPhoneNumber" placeholder="Phone Number" ng-model="vm.applicant.parent.phone" required/>
            </p>
        </div>
        <div class="column control" ng-if="!vm.applicant.isExternal">
            <label class="checkbox">
                <input type="checkbox" ng-model="vm.applicant.parent.isBwEmployee"/>
                Are you a Bankwest employee?
            </label>
        </div>
    </div>
    <div ng-if="!vm.applicant.isExternal && !vm.applicant.parent.isBwEmployee">
        <h3 class="title">Bankwest Contact</h3>
        <div class="columns">
            <div class="column is-3 control">
                <label class="label">First Name</label>
                <p class="control">
                    <input type="text" class="input" name="parentFirstName" placeholder="Parent First Name" ng-model="vm.applicant.bwContact.firstName" ng-required="!vm.applicant.isExternal && !vm.applicant.parent.isBwEmployee"/>
                </p>
            </div>
            <div class="column is-3 control">
                <label class="label">Last Name</label>
                <p class="control">
                    <input type="text" class="input" name="parentLastName" placeholder="Parent Last Name" ng-model="vm.applicant.bwContact.lastName" ng-required="!vm.applicant.isExternal && !vm.applicant.parent.isBwEmployee"/>
                </p>
            </div>
        </div>
    </div>
    <h3 class="title">Photo Release Waiver</h3>
    <p class="content">{{vm.text.photoWaiver}}</p>
    <p class="control content">
        <label class="checkbox">
            <input type="checkbox" ng-model="vm.applicant.photoPermission" required/>
            {{vm.text.photoWaiverSubtext}}
        </label>
    </p>
    <h3 class="title">Comments</h3>
    <label class="label">Any further comments?</label>
    <p class="control">
        <textarea class="textarea" ng-model="vm.applicant.comments" placeholder="Comments" ></textarea>
    </p>
    <p class="control">
        <button type="submit" class="button is-primary" ng-click="vm.submit()">Submit Registration</button>
    </p>
</form>

    <!--<div class="row">

            <h4>Parent/Guardian Information:</h4>
            <div class="form-inline">
                <div class="form-group">
                    <label for="parentFirstName" class="sr-only">Parent/Guardian First Name</label>
                    <input type="text" class="form-control" id="parentFirstName" placeholder="Parent First Name" ng-model="vm.applicant.parent.firstName"
                           ng-required="true" required/>
                </div>
                <div class="form-group">
                    <label for="parentLastName" class="sr-only">Parent/Guardian Last Name</label>
                    <input type="text" class="form-control" id="parentLastName" placeholder="Parent Last Name" ng-model="vm.applicant.parent.lastName"
                           ng-required="true" required/>
                </div>
                <div class="form-group">
                    <label for="parentEmail" class="sr-only">Parent Email</label>
                    <input type="email" class="form-control" id="parentEmail" placeholder="Parent Email" ng-model="vm.applicant.parent.email"
                           ng-required="true" required/>
                </div>
                <div class="form-group">
                    <label for="parentPhone" class="sr-only">Parent Phone Number</label>
                    <input type="text" class="form-control" id="parentPhone" placeholder="Parent Phone Number" ng-model="vm.applicant.parent.phone"
                           ng-required="true" required/>
                </div>
            </div>
            <div ng-show="vm.isBw">
                <h4>Bankwest Contact Name:</h4>
                <div class="form-inline">
                    <div class="form-group">
                        <label for="bwFirstName" class="sr-only">Bankwest Contact First Name</label>
                        <input type="text" class="form-noncontrol" id="bwFirstName" placeholder="Contact First Name" ng-model="vm.applicant.bwContact.firstName" />
                    </div>
                    <div class="form-group">
                        <label for="bwLastName" class="sr-only">Bankwest Contact Last Name</label>
                        <input type="text" class="form-noncontrol" id="bwLastName" placeholder="Contact Last Name" ng-model="vm.applicant.bwContact.lastName" />
                    </div>
                </div>
            </div>
            <br/>

            <h4>Photo Release Waiver:</h4>
            <p>
                By participating in this CoderDojo Event, you understand that photos/video may be taken of your child and/or yourself by Bankwest
                and/or CoderDojo WA and that these photos/videos may be used in social or other media to promote Bankwest's support of CoderDojo and the
                CoderDojo movement. By attending, you agree to the use of your and/or your child's image for the purposes of promoting CoderDojo/Bankwest.
            </p>
            <div class="checkbox">
                <label for="photoWaiver">
                    <input type="checkbox" id="photoWaiver" ng-model="vm.applicant.photoPermission" required/>By checking this box, you understand and give
                    permission for CoderDojo WA and Bankwest to use photomedia of my child at the Dojo event to promote the CoderDojo movement.
                </label>
            </div>
            <br/>

            <div class="form-group">
                <label for="comments" class="control-label">Any Additional Comments?</label>
                <textarea rows="2" columns="50" id="comments" ng-model="vm.applicant.comments" class="form-control"></textarea>
            </div>


            <div class="form-group">
                <button type="submit" class="btn btn-bw">Submit Registration</button>
            </div>
        </form>
    </div>
</div>-->
