# Intellij
.idea/

# Dependency directories
node_modules/
lib/

# Grunt intermediate storage
.grunt

# Runtime data
pids
*.pid
*.seed

# Build files 
build/
temp/
client

# Documentation files
docs/

.env

.DS_Store
