html, head, body {
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
}

.navbar-header {
  margin-top: 10px;
}

.nabar-header span.img {
  height: 30px;
  margin-bottom:10px;
}

.navbar-text {
  font-size: 25px;
  line-height: 0px;
}

.main-img .text {
  margin-top: 40px;
}

.main-img .text.time{
  //left:-30px;
}

.closer {
  margin-top: -5px;
}

.main-img .fa-female {
  color: @bw-orange;
  font-size: 10em;
}

.main-img img {
  height: 140px;
  vertical-align: bottom;
}

.form-group {
  margin-right: 15px;
  margin-bottom: 15px;
}

.form-inline {
  margin-bottom: 15px;
}

label {
  font-weight: 0px;
  margin-right: 5px;
}

.btn-bw {
  background-color: @bw-orange;
  color: white;
}

.btn.btn-bw.focus, .btn.btn-bw:focus, .btn.btn-bw:hover {
  color: white;
  background-color: #c66c0c;
}

.fa-calendar.focus, .fa-calendar:focus, .fa-calendar:hover {
  color: black;
}


@media (min-width: 768px) {
  .form-inline .form-noncontrol {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}

.form-noncontrol {

  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}


///////////////////////

.fa-user {
  color: white;
}

.navbar-header .btn {
  position: absolute;
  right: 8px;
  top: 8px;
}

.center-form {
  max-width: 300px;
  float: none;
  margin: 25px auto;
}

// Icons inside an input bar
.inner-addon {
  position: relative;
}

.inner-addon input {
  padding-left: 30px;
  padding-right: 30px;
}

.inner-addon i.right {
  right: 15px;
  pointer-events: unset;
}

.inner-addon i {
  position: absolute;
  padding: 10px 12px;
  pointer-events: none;
}
