<div class="container">
	<table class="table">
		<thead>
			<tr>
				<td>#</td>
				<td>Name</td>
				<td>Email</td>
				<td>Phone</td>
				<td>Ninja Name</td>
				<td>Ninja Age</td>
				<td>Laptop Required</td>
			</tr>
		</thead>
			<tbody ng-repeat="ninja in ninjas">
				<tr>
					<td></td>
					<td>{{ninja.parent.firstName}} {{ninja.parent.lastName}}</td>
					<td>{{ninja.parent.email}}</td>
					<td>{{ninja.parent.phone}}</td>
					<td colspan="3"></td>
				</tr>
				<tr ng-repeat="n in ninja.ninjas">
					<td></td>
					<td colspan="3"></td>
					<td>{{n.firstName}}</td>
					<td>{{n.lastName}}</td>
					<td>{{n.birthday}}</td>
				</tr>
			</tbody>
	</table>
</div>
