<div class="container">
	<table class="table">
		<thead>
			<tr>
				<td>#</td>
				<td>Name</td>
				<td>Email</td>
				<td>Ninja Name</td>
				<td>Ninja Age</td>
				<td>Laptop Required</td>
			</tr>
		</thead>
			<tbody ng-repeat="parent in ninjas">
				<tr>
					<td></td>
					<td>{{parent.name}}</td>
					<td>{{parent.email}}</td>
					<td colspan="3"></td>
				</tr>
				<tr ng-repeat="ninja in parent.ninjaInformation">
					<td>{{$index + 1}}</td>
					<td colspan="2"></td>
					<td>{{ninja.name}}</td>
					<td>{{ninja.age}}</td>
					<td>{{ninja.laptopRequired}}</td>
				</tr>
			</tbody>
	</table>
</div>